<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"  href="/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
  <!--<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
	<!--<link rel="stylesheet" type="text/css" href="/css/style.css">-->
	<!--<link rel="stylesheet" href="css/font-awesome.min.css">-->
  	<link rel="stylesheet" href="/css/bootstrap.css">
  	<link rel="stylesheet" href="/css/style.css">
  	<!-- <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script> -->
	<title></title>
</head>
<body id="home">
	<nav class="navbar navbar-expand-md  navbar-light fixed-top pt-4 ">
		<div class="container">
			<a href="#" class="navbar-brand">
				<img src="img/logo.jpg" width="50" height="50" class="rounded-circle">
				<h3 class="d-inline align-middle">The Writing Spook</h3>
			</a>
			<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a href="#home" class="nav-link">Home</a>
						</li>
						<li class="nav-item">
							<a href="#about" class="nav-link">About</a>
						</li>
						<li class="nav-item">
							<a href="#authors" class="nav-link">Authors</a>
						</li>
						<li class="nav-item">
							<a href="#submit" class="nav-link">Submit</a>
						</li>
					</ul>	
				</div>
		</div>
	</nav>

	<!-- showcase -->
	<section id="showcase" class="py-5">
		<div class="primary-overlay text-white" >
			<div class="container">
				<div class="row">
					<div class="col-lg-6 text-center">
						<h1 class="display-3 mt-5 pt-5">A Pen, A Paper And Some Feelings. </h1>
						<p class="lead">Congrats,You're a <strong>writer</strong> now</p>
						<a href="http://www.thewritingspook.com/submit/" class="btn btn-outline-secondary btn-lg text-white">Submit now<i class="fas fa-pencil-alt"></i></a>
					</div>	
					<div class="col-lg-6">
						<img class="img-fluid mt-5 ml-4 d-none d-lg-block " src="img/7.png"></img>
					</div>	
				</div>
			</div>
		</div>
	</section>

	<!-- newsletter -->
	<section id="newsletter" class="bg-dark text-white py-5">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<input type="text" class="form-control form-control-lg" placeholder="Enter Name"></input>
				</div>					
				<div class="col-md-4">
					<input type="email" class="form-control form-control-lg" placeholder="Enter Email"></input>
				</div>					
				<div class="col-md-4">
					<button class="btn btr-primary btn-lg btn-block"><i class="fa fa-envelope-open-o"></i> Subscribe </button>
				</div>					
			</div>
		</div>
	</section>

	<!-- boxes -->
	<section id="boxes" class="py-5">
		<div class="container">
			<div class="row">
				<div class="col-md-3 mb-3">
					<div class="card text-center bordercolor">
						<div class="card-body">
							<img class="card-img-top p-2" src="img/8.jpg" alt="Card image cap">
							<h3 class="textcolor">Smiley</h3>
							<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 mb-3">
					<div class="card text-center bordercolor">
						<div class="card-body">
							<img class="card-img-top p-2" src="img/9.jpg" alt="Card image cap">
							<h3 class="textcolor">Proposal</h3>
							<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 mb-3">
					<div class="card text-center bordercolor">
						<div class="card-body">
							<img class="card-img-top p-2" src="img/10.jpg" alt="Card image cap">
							<h3 class="textcolor">Sleep</h3>
							<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 mb-3">
					<div class="card text-center bordercolor">
						<div class="card-body">
							<img class="card-img-top p-2" src="img/11.jpg" alt="Card image cap">
							<h3 class="textcolor">Value</h3>
							<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

	<!-- about -->

	<section id="about" class=" pt-4 pb-5 text-center bg-light">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="info-header mb-5">
						<h1 class="textcolor pb-3">
							Why Writing Spook?
						</h1>
						<p class="lead pb-3">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim	
						</p>
					</div>

					<!-- accordion -->
					
					<div id="accordion" role="tablist">
						<div class="card">
							<div class="card-header" id="heading1">
								<h5 class="mb-0">
									<div href="#collapse1" data-toggle="collapse" data-parent="#accordion">
										<i class="fa fa-arrow-circle-down"></i> Promotion
									</div>
								</h5>					
							</div>
							<div id="collapse1" class="collapse show">
								<div class="card-body">
									We promote small pages, books, blogs and websites at <strong>cheap rates.</strong>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="heading2">
								<h5 class="mb-0">
									<div href="#collapse2" data-toggle="collapse" data-parent="#accordion">
										<i class="fa fa-arrow-circle-down"></i> Platform
									</div>
								</h5>					
							</div>
							<div id="collapse2" class="collapse ">
								<div class="card-body">
									The Writing Spook is a famous Instagram platform known to give small writers the best opportunity to share their work with the world and to show their talent.
								</div>
							</div>
						</div>
						<div class="card">
			              <div class="card-header" id="heading3">
			                <h5 class="mb-0">
			                  <div href="#collapse3" data-toggle="collapse" data-parent="#accordion">
			                    <i class="fa fa-arrow-circle-down"></i> T-Shirt
			                  </div>
			                </h5>
			              </div>

			              <div id="collapse3" class="collapse">
			                <div class="card-body">
			                  Very soon we are also going to start designing t-shirts with some quote written over it. We will write the quote of our writers only.
			                </div>
			              </div>
			            </div>
					</div>
				</div>
			</div>
		</div>
	</section>

	
	<!-- author -->

	<section id="authors" class="my-5 text-center">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="info-header mb-5">
						<h1 class="textcolor pb-3">
							Meet the Authors
						</h1>
						<p class="lead pb-3">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim	
						</p>
					</div>
				</div>
			</div>
			<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="card mb-4">
							<div class="class-body">
								<img class="img-fluid rounded-circle w-50 mb-3" src="img/bhavesh1.png"></img>
								<h3>Bhavesh Jha</h3>
								<h5 class="text-muted">Lead Writer</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
								<div class="d-flex flex-row justify-content-center">
									<div class="p-4">
										<a href="https://www.facebook.com/bhavesh.jha.1232"><i class="fa fa-facebook"></i></a>
										</div>	
									<div class="p-4">
										<a href="https://twitter.com/writing_ghost/"><i class="fa fa-twitter"></i></a>
									</div>	
									<div class="p-4">
										<a href="https://www.instagram.com/the_lazy_texter/"><i class="fa fa-instagram"></i></a>
									</div>	
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="card mb-4">
							<div class="class-body">
								<img class="img-fluid rounded-circle w-50 mb-3" src="img/ashok.png"></img>
								<h3>Ashok Kumar</h3>
								<h5 class="text-muted">Co Writer</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
								<div class="d-flex flex-row justify-content-center">
									<div class="p-4">
										<a href="https://www.facebook.com/bhavesh.jha.1232"><i class="fa fa-facebook"></i></a>
										</div>	
									<div class="p-4">
										<a href="https://twitter.com/writing_ghost/"><i class="fa fa-twitter"></i></a>
									</div>	
									<div class="p-4">
										<a href="https://www.instagram.com/the_lazy_texter/"><i class="fa fa-instagram"></i></a>
									</div>	
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="card mb-4">
							<div class="class-body">
								<img class="img-fluid rounded-circle w-50 mb-3" src="img/ankit.png"></img>
								<h3>Ankit Thakral</h3>
								<h5 class="text-muted">Editor</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
								<div class="d-flex flex-row justify-content-center">
									<div class="p-4">
										<a href="https://www.facebook.com/bhavesh.jha.1232"><i class="fa fa-facebook"></i></a>
										</div>	
									<div class="p-4">
										<a href="https://twitter.com/writing_ghost/"><i class="fa fa-twitter"></i></a>
									</div>	
									<div class="p-4">
										<a href="https://www.instagram.com/the_lazy_texter/"><i class="fa fa-instagram"></i></a>
									</div>	
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="card mb-4">
							<div class="class-body">
								<img class="img-fluid rounded-circle w-50 mb-3" src="img/negi.png"></img>
								<h3>Hemant Negi</h3>
								<h5 class="text-muted">Website Designer</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
								<div class="d-flex flex-row justify-content-center">
									<div class="p-4">
										<a href="https://www.facebook.com/hemant30053"><i class="fa fa-facebook"></i></a>
										</div>	
									<div class="p-4">
										<a href="http://odernow.herokuapp.com"><i class="fa fa-desktop"></i></a>
									</div>	
									<div class="p-4">
										<a href="https://www.instagram.com/nhemnt/"><i class="fa fa-instagram"></i></a>
									</div>	
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>

	<section id="submit" class="bg-light py-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<h3>Submit your writings here</h3>
					<form>
						<div class="form-group mt-4">
							<div class="input-group input-group-lg">
								<span class="input-group-addon"><i class="fa fa-user"></i></span>
								<input type="text" class="form-control" placeholder="Name">
							</div>
						</div>
						<div class="form-group mt-4">
							<div class="input-group input-group-lg">
								<span class="input-group-addon"><i class="fa fa-instagram"></i></span>
								<input type="text" class="form-control" placeholder="Instagram ID">
							</div>
						</div>
						<div class="form-group mt-4">
							<div class="input-group input-group-lg">
								<span class="input-group-addon"><i class="fa fa-pencil"></i></span>
								<textarea name="textarea" class="form-control" placeholder="Your Writing" rows="5"></textarea>
							</div>
						</div>
						<input type="submit" class="btn newcolor btn-block btn-lg" value="Submit">
					</form>
				</div>
				<div class="col-lg-3 align-self-center d-none d-lg-block">
					<img class="img-fluid" src="img/logo1.jpg"></img>			
				</div>
			</div>
		</div>
	</section>

    
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/popper.min.js"></script>
  	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/navbar-fixed.js"></script>
</body>
</html>